body {
  background-color: #141414;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.song,
.playlists {
  flex-basis: 49%;
  margin-bottom: 20px;
}

.song {
  iframe {
    border-radius: 12px;
  }
}

.playlists {
  display: flex;
  flex-direction: column;

  h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .playlist {
    margin-bottom: 20px;

    h3 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 1.4rem;
    }

    iframe {
      border-radius: 12px;
    }
  }
}

h1, h2, h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

footer {
  background-color: #141414;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}

.home-button {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 50px;
}

.home-button:hover {
  background-color: #444;
}
.home-button:hover {
  background-color: #444;
}
