body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;

  background: linear-gradient(135deg, #c71585, #000); 
  background-size: 400% 400%; 
  animation: gradientAnimation 10s ease infinite; 
}

@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.play-button {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: transparent; 
   color: white;
   border: 1px solid white; 
   padding: 10px 20px;
   border-radius: 25px;
   cursor: pointer;
}


.play-button:hover {
  color: #1DB954;
}

.container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    color: #333;
}

a {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid white;
    cursor: pointer;
}

.home-button, .play-button {
    background-color: transparent;
    color: white;
    margin-left: 10px; /* Space between the buttons */
}

.home-button:hover, .play-button:hover {
    color: #1DB954;
}

.content {
    margin-top: 20px;
}

.song-container, .playlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

iframe {
    border-radius: 12px;
    width: 100%;
    height: 352px;
    border: none;
}
