@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    margin: 0;
}


header, main, footer {
    padding: 20px;
}


header {
    border-bottom: 3px solid #333;
    margin-bottom: 20px;
}


main {
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px #333;
    margin-bottom: 20px;
}


section {
    border: 3px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 5px #333;
}


ul, p {
    list-style: none;
    padding: 0;
}


li, p {
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #333; 
    border-radius: 20px; 
    box-shadow: 3px 3px #333; 
    background-color: #f0f0f0; 
    position: relative;
}


li:after, p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 15px 0 0;
    border-color: #f0f0f0 transparent transparent transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}


footer {
    border-top: 3px solid #333;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px #333;
}

a {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
    display: inline-block;
}


h1, h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    box-shadow: 3px 3px #333;
}


@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 10px;
    }
}
