body {
  background-color: #141414;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2d2d2d;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

main section {
  width: 45%;
  margin-right: 5%;
  padding: 20px;
  background-color: #3d3d3d;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

h1, h2 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: Impact, fantasy;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: red;
}

img {
  border: 2px solid red;
}

footer {
  background-color: #2d2d2d;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
