body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #111111, #3f0024);
    color: #f1f1f1;
}

h1 {
    text-align: center;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

input, textarea {
    background-color: #444;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #800020;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #99002e;
}

#posts {
    margin-top: 20px;
}

.post {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
